---
export const getStaticPaths = () => {
  return [
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
    { params: { id: 4 } },
  ];
}

import Layout from "../../layouts/Layout.astro";

const id = Astro.params.id;

const result = id * 2;
---

<Layout title="Items">
  <p>{ id } * 2 = { result }</p>
</Layout>