---
import FirstSvelteComponent from "../components/FirstSvelteComponent.svelte";
const greet = Astro.props.greet || "component";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <p>Hello {greet}!</p>
  <p>plenty of lines</p>
  <p>(copy and paste dozens of these before the Hello component)</p>
  <p>plenty of lines</p>
  <FirstSvelteComponent client:visible />
</Layout>